#console, #console input {
  font-family: var(--mono-font-family);
}

#console {
  .result {
    margin-top: 16px;
  }

  .value:before {
    font-weight: bold;
    margin-right: 8px;
    content: ">";
  }
}
